<router-outlet />
<h2>Atividade 1 - CP 2</h2>

<h2>Marcela Stade Carvalho - RM552372</h2>

<h3>Exercicio 1: Mês com SWITCH</h3>
<app-exercicio1></app-exercicio1>

<h3>Exercicio 2: Lista dinâmica com FOR</h3>
<app-exercicio2></app-exercicio2>

<h3>Exercicio 3: Condicional com IF e ELSE</h3>
<app-exercicio3></app-exercicio3>

<h3>Exercicio 4: Lista com ações dinâmicas</h3>
<app-exercicio4></app-exercicio4>

<h3>Exercicio 5: SWITCH com múltiplos cases</h3>
<app-exercicio5></app-exercicio5>

<h3>Exercicio 6: Lista de objetos com FOR</h3>
<app-exercicio6></app-exercicio6>

<h3>Exercicio 7: SWITCH com Números e Strings</h3>
<app-exercicio7></app-exercicio7>

<h3>Exercicio 8: Sistema de login com IF e ELSE</h3>
<app-exercicio8></app-exercicio8>

<h3>Exercicio 9: Listas de produtos com condicionais</h3>
<app-exercicio9></app-exercicio9>

<h3>Exercicio 10: Calculadora simples com SWITCH</h3>
<app-exercicio10></app-exercicio10>
